body {
  background-image: url(https://media.giphy.com/media/dzVSWTsie2RP1tPjGS/giphy.gif);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  border-top-right-radius: 95%;
  color: rgb(19, 8, 8);
  background-color: rgb(245, 236, 236, 0.45);
}

.lead {
  background-color: rgb(27, 243, 214, 0.2);
  font-family: "Amatic SC", cursive;
}

.led {
  background-color: rgb(247, 243, 214);
}
.txta {
  width: fit-content;
  border-bottom-right-radius: 45%;
  background-color: rgb(245, 236, 236, 0.6);
}
.jumbotron {
  background-image: url(https://data.whicdn.com/images/117020114/original.gif);
  background-image: url(https://media1.giphy.com/media/PO5FEoDZ3CZeWRDacH/source.gif);

  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.container {
  border-top-left-radius: 55%;
  background-color: rgba(117, 255, 147, 0.767);
  width: fit-content;
  margin: 0 auto;
}

.time {
  height: 33%;
  width: 55px;
  font-size: small;
  border-bottom-left-radius: 45%;
  background-color: aqua;
}

.time:hover {
  background-color: rgb(45, 255, 4);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
